[Unit]
Description=REST to MQTT Pipeline C1
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=<user>
ExecStart=/home/tendan/c1_app -g <path_to_grid.csv>
EnvironmentFile=/etc/c1/c1_app.conf
StandardOutput=journal
StandardError=journal
SyslogIdentifier=c1_app

[Install]
WantedBy=multi-user.target